<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Новый контакт</title>
    </head>
    <body>
        <form method="post">
            <p> Ведите данные для новой записи </p>
            <input name="firstName" placeholder="firstName"/>
            <p></p>
            <input name="lastName" placeholder="lastName"/>
            <p></p>
            <input name="email" placeholder="email"/>
            <p></p>
            <input name="phone" placeholder="phone"/>
            <p></p>
            <input name="address" placeholder="address"/>
            <p>
                <button>Отправить</button>
            </p>
        </form>
    </body>
</html>